<section class="contributions mx-3 mb-6">
  <h2 class="text-center text-3xl my-3 font-display">Highlighted Contributions</h2>
  <ul>
    <li class="rounded border border-adCadetBlueGray px-3 py-2 text-sm">
      <h4 class="font-medium font-display text-lg text-center">ngGirls Tutorial</h4>
      <p class="italic pt-1 pb-2 text-xs">Contributed to the GitHub repo in 2019</p>
      <p class="">
        Added StackBlitz examples, clarified wording, and updated instructions for Angular v6 and v8
      </p>
      <p class="pt-1">
        Assisted ngGirls of Krakow, Poland to create tutorial extensions covering Reactive Forms, Material, RxJS, and NgRx
      </p>
    </li>
    <li class="rounded border border-adCadetBlueGray px-3 py-2 text-sm">
      <h4 class="font-medium font-display text-lg text-center">Digging into Angular Animations</h4>
      <p class="italic pt-1 pb-2 text-xs">Presented at Angular Online in October 2019</p>
      <p class="font-normal">
        Watch my presentation at <a class="underline" href="https://bit.ly/ADAnimationRecording" target="_blank">https://bit.ly/ADAnimationRecording</a>
        or flip through slides at <a class="underline break-words" href="https://bit.ly/ADAnimationSlides" target="_blank">https://bit.ly/ADAnimationSlides</a>
      </p>
    </li>
    <li class="rounded border border-adCadetBlueGray px-3 py-2 text-sm">
      <h4 class="font-medium font-display text-lg text-center">Using Material and CDK Schematics Mini Workshop</h4>
      <p class="italic pt-1 pb-2 text-xs">Prepared a sample app, tutorial, and conducted a workshop at AngularKC in March 2019</p>
      <p class="font-normal">
        Check out the tutorial at <a class="underline" href="https://bit.ly/ADSchematicsWorkshop" target="_blank">https://bit.ly/ADSchematicsWorkshop</a> <br/>
      </p>
    </li>
    <li class="rounded border border-adCadetBlueGray px-3 py-2 text-sm">
      <h4 class="font-medium font-display text-lg text-center">How to Level up Your Angular Unit Testing Game Series</h4>
      <p class="italic pt-1 pb-2 text-xs">Wrote a 3-part series of posts on Dev Community in January 2019</p>
      <p class="font-normal">
        Explore the series at <a class="underline break-words" href="https://bit.ly/ADUnitTestingPost" target="_blank">https://bit.ly/ADUnitTestingPost</a>
      </p>
    </li>
    <li class="rounded border border-adCadetBlueGray px-3 py-2 text-sm">
      <h4 class="font-medium font-display text-lg text-center">Angular Unit Test Tooling</h4>
      <p class="italic pt-1 pb-2 text-xs">Presented at AngularKC in April 2018</p>
      <p class="font-normal">
        View slides at <a class="underline" href="https://bit.ly/ADUnitTestSlides" target="_blank">https://bit.ly/ADUnitTestSlides</a>
      </p>
    </li>
    <li class="rounded border border-adCadetBlueGray px-3 py-2 text-sm">
      <h4 class="font-medium font-display text-lg text-center">Intercepting Http Requests - Using and Testing the HttpClient</h4>
      <p class="italic pt-1 pb-2 text-xs">Created a sample app and wrote a post on Dev Community in August 2017</p>
      <p class="font-normal">
        Learn more at
        <a class="underline break-words" href="https://bit.ly/ADInterceptorPost" target="_blank">https://bit.ly/ADInterceptorPost</a>
      </p>
    </li>
  </ul>
</section>
