<section class="contributions mx-3 mb-6">
  <h2 class="text-center text-3xl my-3 font-display text-adGunmetal">Highlighted Contributions</h2>
  <ul>
    <li class="rounded border border-adLightGray px-3 py-2">
      <h4 class="font-semibold">OSS contributions</h4>
      <p class="text-sm italic">(December 2017 - Present)</p>
      <p class="text-sm font-normal">
        Contributed to AngularKC, Kansas City Women in Technology, and ngGirls tutorial repos<br/>
        <span class="font-semibold">ngGirls</span>- Added StackBlitz examples, clarified wording, and updated instructions for Angular
        v6 and v8
      </p>
    </li>
    <li class="rounded border border-adLightGray px-3 py-2">
      <h4 class="font-semibold">Digging in to Angular Animations</h4>
      <p class="text-sm italic">October 2019</p>
      <p class="text-sm font-normal">
        Presented at Angular Online hosted by This Dot Media <br/>
        Recording— <a class="underline" href="https://bit.ly/2Zl7D8n" target="_blank">https://bit.ly/2Zl7D8n</a> <br/>
        Slides— <a class="underline break-words" href="https://alisaduncan.github.io/angular-animations/" target="_blank">https://alisaduncan.github.io/angular-animations/</a>
      </p>
    </li>
    <li class="rounded border border-adLightGray px-3 py-2">
      <h4 class="font-semibold">Using Material and CDK Schematics Mini Workshop</h4>
      <p class="text-sm italic">March 2019</p>
      <p class="text-sm font-normal">
        Presented at AngularKC <br/>
        Prepared sample app and tutorial, and conducted a hands on workshop <br/>
        Tutorial— <a class="underline" href="https://angularkc.github.io/schematics-workshop-worksheet/" target="_blank">https://angularkc.github.io/schematics-workshop-worksheet/</a> <br/>
      </p>
    </li>
    <li class="rounded border border-adLightGray px-3 py-2">
      <h4 class="font-semibold">How To Level Up Your Angular Unit Testing Game, A 3-Part Series</h4>
      <p class="text-sm italic">January 2019</p>
      <p class="text-sm font-normal">
        Article on Dev Community— <a class="underline break-words" href="https://dev.to/alisaduncan/how-to-level-up-your-angular-unit-testing-game-13-7a1"
                                     target="_blank">https://dev.to/alisaduncan/how-to-level-up-your-angular-unit-testing-game-13-7a1</a>
      </p>
    </li>
    <li class="rounded border border-adLightGray px-3 py-2">
      <h4 class="font-semibold">Angular Unit Test Tooling</h4>
      <p class="text-sm italic">April 2018</p>
      <p class="text-sm font-normal">
        Presented at AngularKC- <a class="underline" href="https://bit.ly/2sYiNUJ" target="_blank">https://bit.ly/2sYiNUJ</a>
      </p>
    </li>
    <li class="rounded border border-adLightGray px-3 py-2">
      <h4 class="font-semibold">Intercepting Http Requests- Using And Testing Angular's HttpClient</h4>
      <p class="text-sm italic">August 2017</p>
      <p class="text-sm font-normal">
        Article on Dev Community—
        <a class="underline break-words" href="https://dev.to/alisaduncan/intercepting-http-requests---using-and-testing-angulars-httpclient"
           target="_blank">https://dev.to/alisaduncan/intercepting-http-requests---using-and-testing-angulars-httpclient</a>
      </p>
    </li>
  </ul>
</section>
