<section class="m-1 pt-6 md:pt-8 lg:pt-8 xl:pt-8">
  <h2 class="font-display text-3xl">Let's keep in touch!</h2>
  <ul class="w-11/12 md:w-2/3 lg:w-1/2 xl:w-5/12 mx-auto mt-4 flex justify-around items-center text-adGray700">
    <li>
      <a href="https://github.com/alisaduncan" target="_blank">
        <mat-icon svgIcon="social:github"></mat-icon>
      </a>
    </li>
    <li>
      <a href="https://twitter.com/AlisaDuncan" target="_blank">
        <mat-icon svgIcon="social:twitter"></mat-icon>
      </a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/jalisaduncan/" target="_blank">
        <mat-icon svgIcon="social:linkedin"></mat-icon>
      </a>
    </li>
    <li>
      <a href="https://dev.to/alisaduncan" target="_blank">
        <mat-icon svgIcon="social:dev"></mat-icon>
      </a>
    </li>
  </ul>
</section>
