<section class="m-1 py-10 text-adCharcoal font-body text-center">
  <h2 class="font-display text-4xl mb-6">Let's keep in touch!</h2>
  <ul class="w-11/12 md:w-2/3 lg:w-1/2 xl:w-5/12 mx-auto mt-16 flex justify-around items-center text-adShadowBlue">
    <li>
      <a href="https://dev.to/alisaduncan" target="_blank" aria-label="DEV">
        <mat-icon svgIcon="social:dev"></mat-icon>
      </a>
    </li>
    <li>
      <a href="https://twitter.com/AlisaDuncan" target="_blank" aria-label="Twitter">
        <mat-icon svgIcon="social:twitter"></mat-icon>
      </a>
    </li>
    <li>
      <a href="https://github.com/alisaduncan" target="_blank" aria-label="GitHub">
        <mat-icon svgIcon="social:github"></mat-icon>
      </a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/jalisaduncan/" target="_blank" aria-label="LinkedIn">
        <mat-icon svgIcon="social:linkedin"></mat-icon>
      </a>
    </li>
    <li>
      <a href="https://speakerdeck.com/alisaduncan" target="_blank" aria-label="SpeakerDeck">
        <mat-icon svgIcon="social:speakerdeck"></mat-icon>
      </a>
    </li>
  </ul>
</section>
