<section class="bio">
  <p>Hi! I'm</p>
  <h1>Alisa Duncan</h1>
  <img class="headshot" src="assets/alisa.jpg" alt="Alisa Duncan headshot"/>
  <p>I'm a </p>
  <p>
    software architect | Navy brat | wine drinker | relentless learner | voracious reader | software quality advocate | diagram drawer | former chemist | volunteer
  </p>
  <p></p>
  <p>
    Kansas City Women in Technology nGirlsKC Program Director | KC Women In Technology Coding & Cocktails Program Technical Materials Director | AngularKC Meetup Co-Organizer
  </p>
  <p>I type instructions for computers to follow and sometimes computers listen to me.</p>
</section>
