<section class="education w-11/12 mx-auto mb-6">
  <h2 class="text-center text-3xl my-3 font-display text-adGunmetal">Education</h2>
  <ul class="w-11/12 mx-auto">
    <li class="mb-3">
      <h3 class="font-semibold">B.S. Computer Science</h3>
      <h4 class="font-medium">University of Missouri - Kansas City</h4>
      <p class="text-sm italic">
        Kansas City, MO (2004 - 2008)
      </p>
    </li>
    <li>
      <h3 class="font-semibold">B.S. Chemistry</h3>
      <h4 class="font-medium">Missouri University of Science & Technology</h4>
      <p class="text-sm italic">
        Rolla, MO (1994 - 1999)
      </p>
    </li>
  </ul>
</section>
