<main class="text-center m-0 s:m-1 md:m-2 lg:m-4 xl:m-4 text-adGray700 font-body">
  <section class="intro">
    <p class="text-3xl sm:text-4xl md:text-4xl lg:text-4xl xl:text-4xl mb-2">Hi there! I'm</p>
    <h1 class="text-5xl sm:text-6xl md:text-6xl lg:text-6xl xl:text-6xl font-display uppercase text-adBlue900">Alisa
      Duncan</h1>
    <img
      class="rounded-full w-5/12 sm:w-1/4 md:w-1/5 lg:w-1/6 xl:w-64 xl:h-64 mx-auto mb-4 border-2 border-solid border-adGray500"
      src="assets/img/alisa.jpg" alt="Alisa Duncan headshot"/>
  </section>
  <section class="bio m-1 pt-6 md:pt-8 lg:pt-8 xl:pt-8">
    <h2 class="font-display text-3xl">I'm a </h2>
    <p class="mt-4 text-lg text-adGray900">
      <span>software architect </span>
      <span> wine drinker </span>
      <span> relentless learner </span>
      <span> voracious reader </span>
      <span> software quality advocate </span>
      <span> volunteer</span>
    </p>
  </section>

  <section class="volunteer m-1 pt-6 md:pt-8 lg:pt-8 xl:pt-8">
    <h2 class="font-display text-3xl">You can find me volunteering as</h2>
    <ul class="w-11/12 lg:w-2/3 xl:w-5/12 mx-auto text-left mt-3">
      <li><span class="text-xl pr-2 text-adGray900">Angular Google Developer Expert</span><br class="md:hidden"/><a
        href="https://developers.google.com/community/experts" target="_blank" class="underline">Google Developers
        Experts program</a></li>
      <li class="mt-2"><span class="text-xl pr-2 text-adGray900">Core team member</span><br class="md:hidden"/><a
        href="https://ng-girls.org" target="_blank" class="underline">ngGirls</a></li>
      <li class="mt-2"><span class="text-xl pr-2 text-adGray900">Curriculum Director</span><br class="md:hidden"/>
        <a href="https://codingandcocktails.kcwomenintech.org/" target="_blank" class="underline">Coding & Cocktails</a>
        <span class="italic px-1">by</span>
        <a href="https://kcwomenintech.org/" target="_blank" class="underline">Kansas City Women in Technology</a></li>
      <li class="mt-2"><span class="text-xl pr-2 text-adGray900">Co-Organizer</span><br class="md:hidden"/><a
        href="https://www.meetup.com/angularkc/" target="_blank" class="underline">AngularKC Meetup</a></li>
    </ul>
  </section>
</main>
<app-contact></app-contact>
